.switcher {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  gap: 16px;
}

.button {
  width: 100px;
  height: 100px;
  background-color: var(--theme-hover);
  border: 5px solid transparent;
  cursor: pointer;
  transition: border-color 0.2s ease;
  border-radius: 20px;
  position: relative;
  font-size: 20px;
  color: var(--text-color);
}

.title {
  margin-bottom: 20px;
  font-size: 22px;
}
.icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.button[data-active='true'] {
  border-color: var(--primary);
}

@media (min-width: 768px) {
  .button {
    width: 200px;
    height: 200px;
  }
}
