.selectCard {
  position: relative;
  width: auto;
  height: auto;
}

.checkboxContainer {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 9;
}

.checked {
  outline: 2px dotted var(--primary);
  border-radius: 10px;
}
