.container {
  width: 200px;
}

.title {
  margin-bottom: 8px;
}

.inputs {
  display: flex;
  gap: 12px;
}

.input {
  flex: 1;
  padding: 8px 12px;
  border: 2px solid var(--theme);
  border-radius: 20px;
  font-size: 14px;
  width: 50px;
}

.input:focus {
  outline: none;
  border-color: var(--theme);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.input::placeholder {
  color: #999;
}
