.container {
  width: 200px;
}

.title {
  margin-bottom: 8px;
}

.inputs {
  display: flex;
  gap: 12px;
}

.input {
  flex: 1;
  padding: 8px 12px;
  border: 2px solid var(--theme-hover);
  border-radius: 20px;
  font-size: 14px;
  width: 50px;
  background-color: var(--theme);
  color: var(--text-color);
}

.input:focus {
  outline: none;
  border-color: var(--theme);
}

.input::placeholder {
  color: var(--text-color);
}
