.listPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 100px;
}

.header {
  max-width: 80%;
}

.filterTitle {
  font-size: 18px;
  font-weight: bold;
}

.nav {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.searchArea {
  padding: 10px;
  border-radius: 20px;
  background-color: var(--layout-primary);
  box-shadow: 0px 5px 4px 0px rgba(0, 27, 25, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 20px;
}

.filterArea {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--layout);
  box-shadow: 0px 5px 4px 0px rgba(0, 27, 25, 0.2);
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  margin-block-end: 10px;
  inline-size: 100%;
}

.filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.filterSelect {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .header {
    max-width: 100%;
  }
}
