.settings {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.nav {
  margin-bottom: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
